In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from bs4 import BeautifulSoup
from datetime import datetime, timedelta

import pandas as pd
import time

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
def date_range(start, end):
    start = datetime.strptime(start, "%Y%m%d")
    end = datetime.strptime(end, "%Y%m%d")
    dates = [(start + timedelta(days=i)).strftime("%Y%m%d") for i in range((end-start).days+1)]
    return dates

In [4]:
driver_path = "./chromedriver.exe"
s = Service(driver_path)
cols = ['Date', 'Title']
NEWS_MAX_CNT = 15

In [5]:
#result_df = pd.DataFrame(columns = cols)

In [5]:
#result_df = pd.read_csv('./Daum_220101_220628.csv')

In [6]:
date_list = date_range("20220629", "20220630")

In [7]:
for date in date_list:
    driver = webdriver.Chrome(driver_path)
    #driver = webdriver.Chrome(service = s)
    
    page_cnt = 1
    past_li = []
    
    while True :
        li = []
        driver.get(f"https://news.daum.net/breakingnews/economic/stock?page={page_cnt}&regDate={date}")
        time.sleep(1)
        articles = driver.find_elements(By.CSS_SELECTOR,'div.box_etc div > strong > a.link_txt')
            
        for i in articles :
            li.append([date, i.text])
                
        temp_df = pd.DataFrame(li, columns = cols) 
            
        if past_li == li :
            break
        else :
            result_df = pd.concat([result_df, temp_df], ignore_index=True ) 
    
            past_li = li
            page_cnt += 1
            
        if len(articles) < NEWS_MAX_CNT :
            break
                
    driver.quit()

In [8]:
result_df

           Date                                           Title
0      20220101  [속보] 로또 996회 1등 당첨번호 6·11·15·24·32·39.. 보너스 28
1      20220101                     인도네시아, 1월 석탄 수출 금지.."내수 우선"
2      20220101                       1월 전략, 리오프닝주와 중소형 성장주에 주목
3      20220101         중학생 자녀에 주식 증여..세폭탄 맞을 수 있다?[도와줘요, 상속증여]
4      20220101                        조정 받는 항공株, 펀더멘털 개선은 시기상조
...         ...                                             ...
92779  20220630                [주식 매매 상위 종목 및 환율] 2022년 6월 29일자
92780  20220630                          [유럽증시] 경기침체 공포 커지면서 하락
92781  20220630                하반기 애플 신제품 대거 출시..애플 부품주 '반등' 시도
92782  20220630                    저축은행중앙회 "이체 시 저축은행 이름 표시 추진"
92783  20220630                     상반기 펀드 성적 '씁쓸'..대체·원자재만 웃었다

[92784 rows x 2 columns]

In [10]:
#result_df = result_df.iloc[:5287]

In [9]:
result_df[result_df['Date'] == '20220112']

          Date                                         Title
5287  20220112       소비자물가 급등에도 시장은 견고.."1분기 안에 인플레 정점 찍을 것"
5288  20220112      중소·중견 기업 ESG 경영 고민 끝..상장사協 ESG 실무 지침서 발간
5289  20220112               LG엔솔, 기관 1경 원 몰려..IPO 역대급 흥행 전망
5290  20220112                 美 2021년 물가 7% 급등..금융시장은 동요 없어
5291  20220112               제프리스, 페이팔 투자의견 매수→보유..목표가 200달러
...        ...                                           ...
5732  20220112               넥스트아이, 크루즈 NFT 기업 아트로그와 블록체인 협력
5733  20220112        국내 증시, 美증시 훈풍에 동반 상승.."실적 개선 종목에 주목해야"
5734  20220112           미래에셋자산운용, 글로벌 메타버스 ETF 순자산 2000억 돌파
5735  20220112  [특징주] 현우산업, 애플카 국내업체 지분투자·부품공급업체 선정제안 소식에 강세
5736  20220112                신한자산운용, '중국 과창판 투자' 액티브 ETF 출시

[450 rows x 2 columns]

In [9]:
result_df.drop_duplicates(['Title'], keep='first', inplace=True)

In [10]:
result_df

           Date                                           Title
0      20220101  [속보] 로또 996회 1등 당첨번호 6·11·15·24·32·39.. 보너스 28
1      20220101                     인도네시아, 1월 석탄 수출 금지.."내수 우선"
2      20220101                       1월 전략, 리오프닝주와 중소형 성장주에 주목
3      20220101         중학생 자녀에 주식 증여..세폭탄 맞을 수 있다?[도와줘요, 상속증여]
4      20220101                        조정 받는 항공株, 펀더멘털 개선은 시기상조
...         ...                                             ...
92779  20220630                [주식 매매 상위 종목 및 환율] 2022년 6월 29일자
92780  20220630                          [유럽증시] 경기침체 공포 커지면서 하락
92781  20220630                하반기 애플 신제품 대거 출시..애플 부품주 '반등' 시도
92782  20220630                    저축은행중앙회 "이체 시 저축은행 이름 표시 추진"
92783  20220630                     상반기 펀드 성적 '씁쓸'..대체·원자재만 웃었다

[92721 rows x 2 columns]

In [11]:
#result_df.to_csv('./Daum_20210101_20211231.csv', encoding='utf-8-sig', index = False)
result_df.to_csv('./Daum_220101_220630.csv', encoding='utf-8-sig', index = False)

In [12]:
df  = pd.read_csv('./Daum_220101_220630.csv')

In [13]:
df

           Date                                           Title
0      20220101  [속보] 로또 996회 1등 당첨번호 6·11·15·24·32·39.. 보너스 28
1      20220101                     인도네시아, 1월 석탄 수출 금지.."내수 우선"
2      20220101                       1월 전략, 리오프닝주와 중소형 성장주에 주목
3      20220101         중학생 자녀에 주식 증여..세폭탄 맞을 수 있다?[도와줘요, 상속증여]
4      20220101                        조정 받는 항공株, 펀더멘털 개선은 시기상조
...         ...                                             ...
92716  20220630                [주식 매매 상위 종목 및 환율] 2022년 6월 29일자
92717  20220630                          [유럽증시] 경기침체 공포 커지면서 하락
92718  20220630                하반기 애플 신제품 대거 출시..애플 부품주 '반등' 시도
92719  20220630                    저축은행중앙회 "이체 시 저축은행 이름 표시 추진"
92720  20220630                     상반기 펀드 성적 '씁쓸'..대체·원자재만 웃었다

[92721 rows x 2 columns]

# 제외 사항 여부 결정

```
오늘의 증시 메모[2월 4일], 오늘의 레이더M 뉴스 (2월 4일) 등등 
[표] 외국환율고시표 (n월 n일) 이 하루에 하나씩 나옴 
[표]아시아 주요 증시 동향(6월 1일) 
[주요경제지표] 2022년 5월 31일자 
[주식 매매 상위 종목 및 환율] 2022년 5월 31일자 
[유럽증시] 인플레 가속화 속 혼조 
[뉴욕증시]롤러코스터 5월 마지막날도 하락..인플레 우려 지속
[뉴욕증시]바이든-파월 만났지만..5월 마지막날 또 하락
[베트남증시 1일 마감시황] VN지수 6.84p(0.53%) 상승 1,299.52p '1300선 회복 목전..강보합 마감' [KVINA]
유로존 5월 물가상승률 8.1%..또 역대 최고치 경신

[코스피]
```

In [67]:
len(df)

5887

In [83]:
temp_df = pd.DataFrame(columns=['0'])

In [84]:
temp_df

Empty DataFrame
Columns: [0]
Index: []

In [93]:
cnt = 0
for i in df['Title'] :
    if '[' in i :
        temp_df.loc[cnt] = [i[i.find('[') : i.find(']') + 1 ]]
        cnt += 1

In [99]:
temp_df.drop(0, axis = 0)

                     0
1     [연합뉴스 이 시각 헤드라인]
2                 [속보]
3             [주코노미TV]
4                  [표]
5                 [르포]
...                ...
1672              [공시]
1673         [M&A 핫이슈]
1674          [클릭 e종목]
1675       [해외주식 길라잡이]
1676          [뉴스새벽배송]

[1676 rows x 1 columns]

In [100]:
temp_df

                     0
0                 [속보]
1     [연합뉴스 이 시각 헤드라인]
2                 [속보]
3             [주코노미TV]
4                  [표]
...                ...
1672              [공시]
1673         [M&A 핫이슈]
1674          [클릭 e종목]
1675       [해외주식 길라잡이]
1676          [뉴스새벽배송]

[1677 rows x 1 columns]

In [96]:
temp_df.value_counts().to_csv('./제외여부필요.csv', encoding='utf-8-sig', )

0
[특징주]              335
[표]                214
[공시]               107
[마감]                76
[속보]                55
                  ...
[목멱칼럼]               1
[미국증시 특징주]           1
[베트남증시 1일 마감시황]      1
[베트남증시 2일 마감시황]      1
[사진]                 1
Length: 249, dtype: int64

In [66]:
cnt

1677

In [54]:
for i in df['Title'] :
    if '유럽증시' in i :
        print(i)

[유럽증시]2020년 마지막 장서 하락 마감
[유럽증시] 브렉시트·코로나19 우려 속 하락 마감
베어링운용 "올해 위험자산 선호현상 지속..신흥국·유럽증시 매력적"
[유럽증시]백신 접종 기대감에 상승 출발
[유럽증시] 백신발 희망속 2021년 상승 출발

In [53]:
for i in df['Title'] :
    if '뉴욕증시' in i :
        print(i)

2020년 마지막 거래일, 뉴욕증시도 사상 최고치 마감
2020 뉴욕증시, 최고치 마감.. 천장 뚫었다
2020년 뉴욕증시, 신고가로 마감.."내년엔 모든 것이 좋을 것"
뉴욕증시, 올해 마지막 거래일에 신고점..다우·S&P500 장중 최고치
[그래픽] 뉴욕증시, 사상 최고치로 2020년 마감
[뉴욕증시] 2020년 사상 최고치 마감.. 다우·S&P 천장 뚫었다
2020 뉴욕증시, 최고치 마감..'다우·S&P' 천장 뚫었다
2020년 막내린 美뉴욕증시, 역대 최고가 '축포'
롤러코스터 탄 2020년 뉴욕증시..다우·S&P, 역대최고 마감(종합)
뉴욕증시, 사상 최고치로 2020년 상승 피날레..다우 0.65% 상승
'아듀 2020' 뉴욕증시, 사상최고 마감..나스닥 연간 43%↑
뉴욕증시, 올해 마지막 거래일에 신고점..나스닥, 연간 44% 급등 마감
뉴욕증시, 2020년 사상 최고치 마감.. 나스닥 43% 폭등
뉴욕증시, 사상 최고치로 2020년 마감..나스닥은 연간 43.6%↑
뉴욕증시, 2020년 갈무리..고용 호조 속 혼조 출발
뉴욕증시, 새해 맞아 휴장
트럼프 '몽니'에 中 3대 통신사 뉴욕증시 퇴출
트럼프 행정명령에..중국 3대 통신사, 새해 뉴욕증시서 퇴출
뉴욕증시, 美 상원 결선투표 결과·고용통계에 주목
<뉴욕증시 주간전망> 2021년 출발..조지아 선거·고용지표 촉각
美 뉴욕증시, S&P500지수 장중 '최고치' 기록하며 2021년 출발
[와우넷 공개방송] 뉴욕증시 최고치 마감, 국내시장 영향과 관심 종목은?
[이슈분석] 코로나19發 불확실성 여전한 신축년..뉴욕증시 전망은
뉴욕증시 반등 성공..3대 지수 장초반 상승
'뉴욕증시 퇴출방침 철회'에 중국 증시 상승 마감
코스피, 장중 2950선 돌파..뉴욕증시 새해 첫날 '휘청'
뉴욕증시, 새해 첫날부터 하락..다우 1.25↓
[3분전략] 뉴욕증시, 주요지수 하락 마감..국내증시는?
뉴욕증시 급락에 코스피도 하락 출발..0.03% 내린 2943.67
[뉴욕증시]새해 첫날 1.5%대 큰폭 하락..코로나·상원 투표 영향
뉴욕증시, 조지아주 상원 선거 불확실성에 하락..다우 1.25%↓
[뉴욕증시]새해 첫날부터 흔들린 주가..다우 1.3% 하락
[뉴욕증시] '코로나19 확산' 새해 첫 거래일부터 하락.. 다우 1.25%↓
뉴욕증시, 새해 첫 거래에 하락..모더나 7% 상승 [간밤 해외시황]
뉴욕증시 새해 출발부터 삐걱..다우 1.3%↓, 두달만에 최대낙폭
뉴욕증시, 조지아 선거·봉쇄 부담에 '털썩'..다우, 1.25% 하락 마감
[속보] '새해 첫 거래일' 뉴욕증시 하락 마감..다우 1.25%↓
뉴욕증시, 코로나 백신 접종·조지아 선거 촉각 혼조 출발

In [52]:
for i in df['Title'] :
    if '[베트남증시' in i :
        print(i)

[베트남증시 29일 마감시황] VN지수 1.5% 상승, 1,120.47 마감..'VN지수 급등, 사상 최대 유동성' [KVINA]

In [47]:
for i in df['Title'] :
    if '[표]' in i :
        print(i)

[표] 외국환율고시표 (12월 30일)
[표] 주간 주요 증시 지표
[표] 주요국 증시 주간 동향
[표]주간 코스닥 기관·외국인·개인 순매수·도 상위종목(12월 28~30일)
[표]주간 유가증권 기관·외국인·개인 순매수·도 상위종목(12월 28~30일)
[표]주간 유가증권·코스닥 투자주체별 매매동향(12월 28~30일)
[표]유가증권·코스닥 유무상증자 일정
[표]해외 주요 증시 동향(12월 31일)
[표]아시아 주요 증시 동향(1월 4일)
[표]유가증권·코스닥 투자주체별 매매동향(1월 4일-최종치)
[표]코스닥 기관·외국인·개인 순매수·도 상위종목(1월 4일-최종치)
[표]유가증권 기관·외국인·개인 순매수·도 상위종목(1월 4일-최종치)
[표]K-OTC 시장 거래 현황(1/4)
[표] 외국환율고시표 (1월 4일)
[표]코스피200지수 옵션 시세(1월 4일)
[표] 주요 증시 지표 (1월 4일)
[표]코스피200지수·국채·달러 선물 시세(1월 4일)
[표]채권 수익률 현황(1월 4일)
[표]유가증권·코스닥 투자주체별 매매동향(1월 4일)
[표]코스닥 기관·외국인·개인 순매수·도 상위종목(1월 4일)
[표]유가증권 기관·외국인·개인 순매수·도 상위종목(1월 4일)
[표]IPO·장외 주요 종목 시세(1월 4일)
[표]KRX 금 시세(1월 4일)
[표] 투자자별 매매동향(4일)
[표]주간 해외 주요 증시 동향(12월28~31일)
[표]해외 DR 가격(12월 31일)
[표]아시아 주요 증시 동향(1월 5일)
[표]유가증권·코스닥 투자주체별 매매동향(1월 5일-최종치)
[표]코스닥 기관·외국인·개인 순매수·도 상위종목(1월 5일-최종치)
[표]유가증권 기관·외국인·개인 순매수·도 상위종목(1월 5일-최종치)
[표] 외국환율고시표 (1월 5일)
[표] 주요 증시 지표 (1월 5일)
[표]장외주식 거래현황(1/5)
[표]코스피200지수 옵션 시세(1월 5일)
[표]코스피200지수·국채·달러 선물 시세(1월 5일)
[표]05일 오전 채권시장 - 금리동향
[표]증시주변 자금동향 (1/4)
[표]05일 채권시장 종합 - 금리동향
[표]K-OTC 시장 거래 현황(1/5)
[표]코스피 기관/외국인 매매동향(1/5 3시30분)
[표]코스닥 기관/외국인 매매동향(1/5 3시30분)
[표]주가지수선물 투자자별 매매동향(1/5)
[표]거래소 주가지수선물·옵션시세표(1/5)
[표]채권 수익률 현황(1월 5일)
[표]IPO·장외 주요 종목 시세(1월 5일)
[표]KRX 금 시세(1월 5일)
[표]유가증권·코스닥 투자주체별 매매동향(1월 5일)
[표]코스닥 기관·외국인·개인 순매수·도 상위종목(1월 5일)
[표]유가증권 기관·외국인·개인 순매수·도 상위종목(1월 5일)
[표] 투자자별 매매동향(5일)
[표]유럽 주요기업 주가(1/4)
[표]해외 한국 DR 주간등락률
[표]일본 주요기업 주가(1/4)
[표]삼진엘앤디 등 코스닥 자사주 신청내역(5일)
[표]신원 등 코스피 자사주 신청내역(5일)
[표]코스피 외국인 연속 순매수 종목(4일)
[표]코스피 외국인 연속 순매도 종목(4일)
[표]코스닥 외국인 연속 순매수 종목(4일)
[표]코스닥 외국인 연속 순매도 종목(4일)
[표]해외 DR 가격(1월 4일)
[표]해외 주요 증시 동향(1월 4일)
[표]미국 주요기업 주가(1/4)
[표]해외 한국 DR(1/4)